<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">E-commerce</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="location.href='/home'">Lista de productos</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="location.href='/form_products'">Crear producto</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="location.href='/realtimeproducts'">RealTime</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="location.href='/products'">Comprar productos</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link" onclick="location.href='/chat'">Chat</button>
      </li>
    </ul>
  </div>
</nav>
      <div>
        <a href="/login">Login</a>
        <br />
        <a href="api/session/login-github">Login Github</a>
        <br />
        <a href="/register">Register</a>
      </div>
    </header>
    <main>
      <div class="divTitle">
        <h2>My E-commerce</h2>
      </div>
    </main>
  </body>

</html>